{% extends 'empty.html' %}
{% load utils_extras %}

{% block title %}
    {% if own_blog %}
        Мой блог
    {% else %}
        Просмотр блога: {{ user_blog }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if own_blog %}
        <h1>Мой блог</h1>
    {% else %}
        <h1>Просмотр блога: {{ user_blog }}</h1>
    {% endif %}
    {% for post in post_list %}
        <div class="alert alert-secondary mr-5">
            <p>
                <strong>
                    <a href="{% url 'blogs:post-detail' pk=post.pk %}">{{ post.title }}</a>
                </strong>
            </p>
            <hr>
            <p>
                {{ post.text }}
            </p>
            <hr>
            <p class="mb-0 text-muted">
                {{ post.created_at|date:'d.m.Y H:i:s'}}
            </p>
        </div>
    {% empty %}
        <div class="alert alert-warning">
            {% if own_blog %}
                <p>У Вас еще нет постов</p>
            {% else %}
                <p>В этом блоге еще нет постов</p>
            {% endif %}
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' with page_obj=page_obj %}
    {% endif %}

{% endblock %}
