{% extends 'empty.html' %}

{% block title %}
    Домашняя страница
{% endblock %}

{% block content %}
    {% for post in post_list %}
        <div class="alert alert-secondary mr-5">
            <p>
                <strong>
                    {{ post.title }}
                </strong>
            </p>
            <hr>
            <p>
                {{ post.text }}
            </p>
            <hr>
            <p class="mb-0 text-muted">
                {{ post.created_at|date:'d.m.Y H:i:s'}}
            </p>
        </div>
    {% empty %}
        <div class="alert alert-warning">
            <p>Нет постов для просмотра</p>
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' with page_obj=page_obj %}
    {% endif %}

{% endblock %}
