{% extends 'empty.html' %}
{% load utils_extras %}

{% block title %}
    Пост #{{ object.pk }}
{% endblock %}

{% block content %}
    <h1>Пост #{{ object.pk }}</h1>

    {% call_method post 'check_own' user_blog as is_own %}

    {% if is_own %}
        <div class="mb-4">
            <div class="btn-group">
                <a
                    href="#id_post_delete"
                    data-toggle="modal"
                    class="btn btn-danger"
                >
                    Удалить
                </a>
            </div>
        </div>
    {% endif %}

    <table class="table table-bordered">
        <tr>
            <th>Блог</th>
            <td>
                <a
                    {% if is_own %}
                        href="{% url 'blogs:blog-posts' %}"
                    {% else %}
                        href="{% url 'blogs:blog-posts' %}?blog_pk={{ object.blog.pk }}"
                    {% endif %}
                    >{{ object.blog }}</a>
            </td>
        </tr>
        <tr>
            <th>Заголовок</th>
            <td>{{ object.title }}</td>
        </tr>
        <tr>
            <th>Текст</th>
            <td>{{ object.text }}</td>
        </tr>
        <tr>
            <th>Когда добавлен</th>
            <td>{{ object.created_at|date:'d.m.Y H:i:s' }}</td>
        </tr>
    </table>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="id_post_delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Подтвердить действие</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите удалить этот пост?</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'blogs:post-delete' pk=object.pk %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Да</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </form>
                </div>
            </div> <!-- .modal-content -->
        </div> <!-- .modal-dialog -->
    </div> <!-- .modal -->
{% endblock %}
